<a href="https://colab.research.google.com/github/VikasAL/Python_Workshop/blob/master/Day2_Session2_Dictionary_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [2]:
import operator
t = {}
n = int(input("Enter number of students"))
for i in range(n):
  key = input("Enter the name")
  value = input("Enter the marks")
  t[key] = value
a = sorted(t.items(), key=operator.itemgetter(1), reverse=True)
for i in a:
  print(i[0],"=",t[i[0]])

Enter number of students3
Enter the nameben
Enter the marks65
Enter the namehenry
Enter the marks89
Enter the namedanny
Enter the marks45
henry = 89
ben = 65
danny = 45

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = input("Enter the salary")
  t[key] = value
a = sorted(t)
for i in a:
  print(i, "=>",t[i])

Enter number of employees3
Enter the namegirish
Enter the salary3000
Enter the nameajay
Enter the salary5433
Enter the namevijay
Enter the salary5000
ajay => 5433
girish => 3000
vijay => 5000

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [12]:
import operator
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = int(input("Enter the salary"))
  t[key] = value
a = sorted(t.items(), key=operator.itemgetter(1))
for i in a:
  print(i[0],"=",t[i[0]])
val = t.values()
print("sum = ",sum(val))
print("maximum value = ",max(t.values()))
print("minimum value = ",min(t.values()))
print("Average value = ",sum(val)/n)

Enter number of employees3
Enter the nameFarook
Enter the salary86
Enter the nameHafeez
Enter the salary58
Enter the nameJaved
Enter the salary96
Hafeez = 58
Farook = 86
Javed = 96
sum =  240
maximum value =  96
minimum value =  58
Average value =  80.0

#4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = int(input("Enter the salary"))
  t[key] = value
for i in t:
  if int(t[i])>2000 and int(t[i])<4000:
    print(t[i])

Enter number of employees3
Enter the nameharish
Enter the salary3500
Enter the namebhoomi
Enter the salary1500
Enter the nametom
Enter the salary5000
3500

#5.	Python program to convert a 3 digit number  into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if(num>99 and num<1000):
        if(num>100 and num<199):
            print(d[num//10//10*100]+" "+d[num//10%10*10]+" "+d[num%10])
        else:
            print(d[num//100]+d[100]+" "+d[num//10%10*10]+" "+d[num%10])

Enter the integer between 1 to 999:999
ninehundred ninty nine