<a href="https://colab.research.google.com/github/VikasAL/Python_Workshop/blob/master/Day2_Session1_Tuple_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [38]:
t = list()
str = input("Enter the string")
t = str.split(' ')
max = -1
for ele in t: 
    if len(ele) > max: 
        max = len(ele) 
        res = ele 
print(res)

Enter the stringWelcome everyone, this is sample python program
everyone,

#Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [34]:
t = list()
n = int(input("Enter number of students"))
for i in range(n):
  t.append((input("Enter the student Rollno."), int(input("Enter the mark"))))
t = sorted(t, key = lambda x: x[1])
tup = t[::-1]
print("Rollno | Marks")
for i in tup:
  print(i[0], "   | ",  i[1])

Enter number of students5
Enter the student Rollno.4AL20CS001
Enter the mark83
Enter the student Rollno.4AL20CS002
Enter the mark34
Enter the student Rollno.4AL20CS003
Enter the mark56
Enter the student Rollno.4AL20CS004
Enter the mark99
Enter the student Rollno.4AL20CS005
Enter the mark29
Rollno | Marks
4AL20CS004    |  99
4AL20CS001    |  83
4AL20CS003    |  56
4AL20CS002    |  34
4AL20CS005    |  29

#Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [37]:
t = list()
n = int(input("Enter number of employees"))
for i in range(n):
  t.append((input("Enter the employee name"), int(input("Enter the employee salary"))))
t = sorted(t)
print("Name  | Salary")
for i in t:
  print(i[0], " | ",  i[1])

Enter number of employees5
Enter the employee nameJhon
Enter the employee salary35000
Enter the employee nameBen
Enter the employee salary40000
Enter the employee nameJack
Enter the employee salary43000
Enter the employee nameAlex
Enter the employee salary32000
Enter the employee nameRoger
Enter the employee salary250000
Name  | Salary
Alex    |  32000
Ben    |  40000
Jack    |  43000
Jhon   |  35000
Roger   |  250000