<a href="https://colab.research.google.com/github/VikasAL/Python_Workshop/blob/master/Day2_Session1_List_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print multiples of 3 upto 200 using a list

In [ ]:
lst = [x for x in range(200) if x%3 == 0]
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [3]:
lst = [x for x in range(1001,1999) if x%5 == 0 and x%7 == 0]
print(lst)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

#Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
n = int(input("Enter the total no of names"))
lst = []
for i in range(n):
  lst.append(input("Enter the name"))
lst.sort()
print(lst)
lst = lst[::-1]
print(lst)

Enter the total no of names4
Enter the namelanser
Enter the namealpha
Enter the namegama
Enter the namebeta
['alpha', 'beta', 'gama', 'lanser']
['lanser', 'gama', 'beta', 'alpha']

#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [2]:
from math import *
lst = []
for i in range(501,999):
  x,y = modf(sqrt(i))
  if x == 0 and i%5 ==0:
    lst.append(i)
print(lst)

[625, 900]